
@{
    ViewBag.Title = "ErrorCantidad";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>ErrorCantidad</h2>

Error, la cantidad solicitada es mayor a la cantidad disponible

<a href="javascript:history.back()">Volver</a>