
@{
    ViewBag.Title = "ErrorCantidad";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<div class="col-md-3"></div>
<div class="col-md-6 fuenteBlanca fondo-detalle text-center">

    <h3>No hay suficientes lugares para este paquete</h3>

    <h4>Error, la cantidad solicitada es mayor a la cantidad disponible.</h4><br />

    <a href="javascript:history.back()" class="btn btn-warning margenInf boton2" >Volver</a>


</div>

<div class="col-md-3"></div>