body 
{
	background: url('../../Content/img/background3.jpg') no-repeat center center fixed;	
}

.imagen 
{
    height:200px;
    width:275px;
}

.divOpaco
{
	background: #fff;
	background: rgba(0, 0, 0, .30);
    margin-top: 5%;
}

.divCant
{
    background-color: black;
    border-radius: 15px;
	background: rgba(0, 0, 0, .50);
    width:50%;
    height:100%;
}

.fondo-detalle
{
    background-color: black;
    border-radius: 15px;
	background: rgba(0, 0, 0, .50);
}
.fuenteBlanca
{
	color: #fff;	
}

.fondoBlanco
{
  background:#FFFFFF;
}

.margenInf 
{
    margin-bottom:3%;
}

.margenInf2 
{
    margin-bottom:5%;
}

.paquete
{

    margin-bottom:5%;
    margin-left:0.1%;
    margin-right:0.1%;
	background: #fff;
	background: rgba(0, 0, 0, .30);
}

.imPaq
{
    margin-top:2%;
}

.boton
{
    width:97%;
    margin-bottom:2%;
    font-weight: 700;
}

.boton2
{
    width:100%;
    margin-bottom:2%;
    font-weight: 700;
}

.fondo-transparente
{
    background-color: black;
    border-radius: 15px;
    margin-top:100px; 
    height: 320px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 20;
}

.sub-contenedor
{
     position:absolute;
     z-index: 10; 
}

.contenedor-formu
{
    margin-top: 100px; 
    position: absolute;
    z-index: 30;
    height: 400px;
    width: 100%;
    padding: 40px;
    text-align: center;
    color:white;
}

.error-msj {
    background-color: #ff0000;
    border-radius: 5px;
	color: #fff;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-right: 0.2em;
    font-size: 1em;
}