@using Modelo.ViewModels
@model IEnumerable<IndexViewModel>
@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!---Cuerpo de pagina--->
<div class="container">
    <div class="row">
        <!---Cuerpo bloque Central--->
        <div class="col-md-1"></div>
        <div class="col-md-10 divOpaco fuenteBlanca">
            
            <div class="col-md-12 margenInf">

                <h1 class="text-center">PAQUETES DESTACADOS</h1>
                <div class="row">

                    @foreach (var paquete in Model)
                    {
                        <div class="col-sm-4 text-center ">
                            <div class="card card-block paquete">
                                <img src="~/Content/img/1.jpg" class="imPaq" />
                                <h3 class="card-title">@paquete.Nombre</h3>
                                <p class="card-text">@paquete.CantidadDeNoches noches, $@paquete.Precio</p>
                                <p class="card-text">Salida @paquete.DiaDeSalida de @paquete.MesDeSalida</p>
                                <a href="#" class="btn btn-primary boton">Comprar</a>
                            </div>
                        </div>
                    }

                </div>    
   
        </div> <!-- col md 10-->
        <div class="col-md-1"></div>
        <!---Cuerpo bloque Central--->
    </div>
</div>
</div>