@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!---Cuerpo de pagina--->
<div class="container">
    <div class="row">
        <!---Cuerpo bloque Central--->
        <div class="col-md-1"></div>
        <div class="col-md-10 divOpaco fuenteBlanca">
            
            <div class="col-md-12 margenInf">

                <h1 class="text-center">PAQUETES DESTACADOS</h1>

                <div class="row">
                    <!-- card-->
                    <div class="col-sm-4 text-center "> 
                        <div class="card card-block paquete">
                            <img src="~/Content/img/1.jpg" class="imPaq" />
                            <h3 class="card-title">New York</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4 card text-center ">
                        <div class="card card-block paquete">
                            <img src="~/Content/img/2.jpg" class="imPaq"/>
                            <h3 class="card-title">Japon</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4 card text-center">
                        <div class="card card-block paquete">
                            <img src="~/Content/img/3.jpg" class="imPaq"/>
                            <h3 class="card-title">Bariloche</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4 card text-center">
                        <div class="card card-block paquete">
                            <img src="~/Content/img/4.jpg" class="imPaq"/>
                            <h3 class="card-title">Venecia</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->
                    
                    <!-- card-->
                    <div class="col-sm-4 card text-center">
                        <div class="card card-block paquete">
                            <img src="~/Content/img/5.jpg" class="imPaq"/>
                            <h3 class="card-title">Rio de Janeiro</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->
                    
                    <!-- card-->
                    <div class="col-sm-4 card text-center">
                        <div class="card card-block paquete">
                            <img src="~/Content/img/6.jpg" class="imPaq"/>
                            <h3 class="card-title">Londres</h3>
                            <p class="card-text">Texto descriptivo del paquete.</p>
                            <a href="#" class="btn btn-primary boton">COMPRAR PAQUETE</a>
                        </div>
                    </div>
                    <!-- card fin-->
                </div>
  
            </div>    
   
        </div> <!-- col md 10-->
        <div class="col-md-1"></div>
        <!---Cuerpo bloque Central--->
    </div>
</div>