@using Modelo.ViewModels
@model IEnumerable<IndexViewModel>
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!---Cuerpo de pagina--->
<div class="container">
    <div class="row">
        <!---Cuerpo bloque Central--->
        <div class="col-md-1"></div>
        <div class="col-md-10 divOpaco fuenteBlanca">

            <div class="col-md-12 margenInf">

                <h1 class="text-center">PAQUETES DESTACADOS</h1>
                <div class="row">

                    @foreach (var paquete in Model)
                    {
                        <div class="col-sm-4 text-center ">
                            <div class="card card-block paquete">
                                <img src="@Url.Content(paquete.Foto)" class="imPaq imagen" />
                                <h3 class="card-title">@paquete.Nombre</h3>
                                <p class="card-text">$@paquete.Precio </p>
                                <p class="card-text">Sale el @paquete.FechaDeSalida</p>
                                <a href="@Url.Content("User/Paquete/Detalle/")@paquete.Id" class="btn btn-primary boton">Ver detalles</a>
                            </div>
                        </div>
                    }

                </div>

            </div> <!-- col md 10-->
            <div class="col-md-1"></div>
            <!---Cuerpo bloque Central--->
        </div>
    </div>
</div>