@{ 
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<!---Cuerpo de pagina--->
<div class="container">
    <div class="row">
        <!---Cuerpo bloque Central--->
        <div class="col-md-1"></div>
        <div class="col-md-10 divOpaco fuenteBlanca">
            
        <div class="col-md-1"></div>

            <div class="col-md-10 divOpaco">

                <div class="row">
                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->

                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->
                    
                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->
                    
                    <!-- card-->
                    <div class="col-sm-4">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <!-- card fin-->
                </div>
  


            </div><!-- col md 10-->
                <div class="col-md-1"></div>    


        
        </div> <!-- col md 10-->
        <div class="col-md-1"></div>
        <!---Cuerpo bloque Central--->
    </div>
</div>