@{ 
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<!---Cuerpo de pagina--->
<div class="container">
    <div class="row">
        <!---Cuerpo bloque Central--->
        <div class="col-md-1"></div>

        <div class="col-md-10 divOpaco fuenteBlanca">
            
            <h1>EN ESTE DIV OPACO VAN A ESTAR LOS PAQUERES EN DOS BLOQUES DISTINTOS</h1>
            <h1>LOS PAQUETES DESTACADOS POR UN LADO Y LOS NORMALES POR OTRO</h1>

        </div>

        <div class="col-md-1"></div>
        <!---Cuerpo bloque Central--->
    </div>
</div>