@model Presentación.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div> 
    @Html.BeginForm("Login", "Home") {
        <input type="email" id="Email" name="Email" placeholder="e-mail" />
        <input type="password" id="Contrasenia" name="Contrasenia" placeholder="Contraseña" />
        <input type="submit" id="btnIngresar" name="btnIngresar" value="Ingresar" />
    }
</div>