<!DOCTYPE html>
<html>
<head>
    <title> Agencia de Turismo</title>

    <link rel="stylesheet" href="../../Content/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css" />
    <script src="../../Content/bootstrap-4.0.0-beta/assets/js/vendor/jquery-slim.min.js"></script>
    <script src="../../Content/bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js"></script>
    <script src="../../Content/bootstrap-4.0.0-beta/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../Content/css.css" />

</head>
<body>

    <!--Barra principal-->
    <div class="row">

        <div class="col-lg-12">


            <nav class="navbar navbar-expand-lg navbar-light bg-light ">

                <a class="navbar-brand" href="#">
                    <img src="../../Content/img/mdp.png" id="logo" />
                </a>

                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="#">Vuelos</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hoteles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Autos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" class="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paquetes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Paquete 1</a>
                                <a class="dropdown-item" href="#">Paquete 2</a>
                                <a class="dropdown-item" href="#">Paquete 3</a>
                            </div>
                        </li>


                    </ul>

                    <div class="navbar-nav navbar-left">
                        <div class="btn-group">


                            <a class="nav-link dropdown" class="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Iniciar Sesion
                            </a>
                            <div class="dropdown-menu dropdown-menu-right Ini-sesion">
                                <div class="sub-contenedor-iniSec">
                                    <form>
                                        <input type="text" class="form-control" id="mail" placeholder="Email" />
                                        <br />
                                        <input type="text" class="form-control" id="apellido" placeholder="contrase&ntilde;a" />
                                        <br />
                                        <div class="btn-centrado">
                                            <button type="submit" class="btn btn-success ">Link start!</button>
                                        </div>
                                    </form>
                                    <br />
                                    <div class="btn-centrado">
                                        <a href="../Registrarse/Registrarse.cshtml" class="btn btn-primary btn-centrado">Registrarse</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>



    <!---Cuerpo de pagina--->
    <div class="row">
        <img src="../../Content/img/background.jpg" class="img-fondo" />


        <div class="col-md-12 sub-contenedor">
            <div class="row">
                <div class="col-md-3 "></div>

                <div class="col-md-6 ">
                    <div class="fondo-transparente"></div>
                    <div class="contenedor-formu">
                        <div class="a">
                            <div class="Registrarse"><h2>Registrarse</h2></div>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre" />
                                    <br />
                                    <input type="text" class="form-control" id="apellido" aria-describedby="emailHelp" placeholder="Apellido" />
                                    <br />

                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" />

                                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                                </div>


                                <!-- <label for="exampleInputPassword1">Contraseña</label>  -->
                                <input type="password" class="form-control" id="contra" placeholder="Contrase&ntilde;a" />
                                <br />

                                <button type="submit" class="btn btn-primary btn-registrarse">Registrarse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 "></div>
        </div>
    </div>

</body>
</html>