@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div class="container">
    <div class="row">
      
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h1>HISTORIAL DE PAQUETES RESERVADOS</h1></div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <th><h4>DESTINO</h4></th>
                        <th><h4>FECHA DE INICIO</h4></th>
                        <th><h4>FECHA DE FIN</h4></th>
                        <th><h4>CANTIDAD</h4></th>
                        <th><h4>PRECIO</h4></th>
                        <th><h4>TOTAL </h4></th>
                        <th><h4>ACCION </h4></th>                        
                    </tr>

                        <tr>
                            <td>New York</td>
                            <td>01/04/2018</td>
                            <td>16/04/2018</td>
                            <td>1</td>
                            <td>$30000</td>
                            <td>$30000</td>
                            <td>
                                <a href="..." class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                </table>
            </div>
        </div>

    </div>
</div>
